article#statusMonitor {
    background-color: $bcgColor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: $size1;
    left: 0;
    top: 0;
    border: 2px solid $fontColor2;
    box-sizing: border-box;
    color: $fontColor;
    font-size: 2.5em;
    text-align: center;
    font-family: "MyCustomFont";
    div#particularStatusMonitor {
        font-size: 0.7em;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: space-between;
        justify-items: flex-end;
        #logoutButtonSection {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            button {
                font-family: 'MyCustomFont';
                color: $fontColor;
                font-size: 1em;
                padding: 5px 10px;
                border: 2px solid $fontColor;
                background-color: $bcgColor;
                &:hover {
                    background-color: $bcgAlternative;
                }
                &#logout {
                    border: 2px solid $fontColor;
                    border-radius: 0 0 0 10px;
                    border-top: none;
                    border-right: none;
                    &:hover {
                        transform: translate(-2px, 2px);
                    }
                }
                &#deleteAdmin {
                    border-radius: 0 0 10px 0;
                    border-top: none;
                    border-left: none;
                    &:hover {
                        transform: translate(2px, 2px);
                    }
                }
            }
        }
        #restOfStatusMonitor {
            position: relative;
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 8px;  // Width of the scrollbar
            }
            
            &::-webkit-scrollbar-track {
                background: $bcgColor;  // Color of the track
            }
            
            &::-webkit-scrollbar-thumb {
                background: $fontColor2;  // Color of the thumb
                border-radius: 10px;  // Rounded corners
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background: $bcgAlternative;  // Color of the thumb when hovered
            }
            
            #databaseVersionMonitor {
                position: relative;
                display: flex;
                flex-direction: column;
                margin: 10px 0 10px 0;
                text-align: left;
                width: 100%;
                >div {
                    border-radius: 0 10px 10px 0;
                    &:nth-child(even) {
                        background-color: $bcgAlternative;
                        >span:first-child {
                            background-color: $bcgAlternative3;
                        }
                    }
                    >span:first-child {
                        padding-left: 10px;
                        border-radius: 0 10px 10px 0;
                        color: $fontColor3;
                        background-color: $bcgAlternative2;
                        //font-weight: bold;
                    }
                }
            }
            #settingsSection {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                align-content: flex-end;
                justify-content: flex-end;
                button {
                    background-color: $bcgColor;
                    border-radius: 15px;
                    background-image: url('../images/sun-2-svgrepo-com.svg');
                    background-size: 85%;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 70px;
                    height: 70px;
                    &:hover {
                        background-color: $bcgAlternative;
                    }
                    &.dark {
                        background-image: url('../images/moon-stars-svgrepo-com.svg');
                    }
                
                }
            }
        }
    }
    section#onOfLine {
        display: flex;
        flex-direction: column;
        position: relative;
        width: $size1;
        right: 0;
        top: 0;
        border-left: $border;
        color: $darkRed;
        box-sizing: border-box;
        div#btnFrame {
            background-color: $darkRed;
            display: flex;
            position: relative;
            width: 100%;
            height: 50%;
            left: 0;
            top: 0;
            border-radius: 20px;
            box-shadow: inset 0 0 15px #000000;
            &.on {
                background-color: $darkGreen;
            }
            div#btnSlider {
                background-color: $greyButtonColor;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                left: 0;
                bottom: 0;
                border-radius: 20px;
                border: solid 2px $greyButtonShadow;
                box-sizing: border-box;
                transition: transform 0.2s ease-in-out;
                text-shadow: 1px 1px 4px $fontColor;
                box-shadow: inset -2px -2px 5px $greyButtonShadow,
                            inset 2px 2px 5px $greyButtonHighlight;
                width: 60%;
                height: 100%;            
                &.on {
                    color: $fontColor;
                    text-shadow: 1px 1px 4px $greyButtonShadow;
                    transform: translateX(65%);
                }
            }
        }
        div#onlineStatus {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50%;
            width: 100%;
            position: relative;
            color: $darkRed;
            box-sizing: border-box;
            text-shadow: 1px 1px 4px rgba(200, 0, 0, 0.5);
            &.on {
                color: $fontColor;
                text-shadow: 1px 1px 4px rgba(98, 70, 30, 0.5);
            }
        }
    }
}