.fontColor {
  color: rgb(3, 4, 9);
}

.fontColor2 {
  color: rgb(122, 68, 26);
}

.fontColorRed {
  color: rgb(175, 0, 0);
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("../fonts/apple-ii-screen-typeface-font/AppleIiScreenTypeface-2aP3.ttf") format("truetype");
}
article#alert, article#confirmDialog {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgb(233, 229, 220);
  color: rgb(3, 4, 9);
  font-family: "MyCustomFont";
  font-size: 2em;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
article#alert #alertTitle, article#confirmDialog #alertTitle {
  margin: 10px;
  margin-top: 20px;
}
article#alert div#confirmText, article#alert div#alertMessage, article#alert div#alertInstructions, article#confirmDialog div#confirmText, article#confirmDialog div#alertMessage, article#confirmDialog div#alertInstructions {
  width: 80%;
  text-align: center;
  font-size: 0.8em;
}
article#alert div#alertUserDetails, article#alert div#confirmUserDetails, article#confirmDialog div#alertUserDetails, article#confirmDialog div#confirmUserDetails {
  display: flex;
  margin: 10px 0;
  max-height: 50%;
  width: 80%;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  position: relative;
  color: rgb(122, 68, 26);
  overflow-y: scroll;
  font-size: 0.8em;
}
article#alert div#alertUserDetails::-webkit-scrollbar, article#alert div#confirmUserDetails::-webkit-scrollbar, article#confirmDialog div#alertUserDetails::-webkit-scrollbar, article#confirmDialog div#confirmUserDetails::-webkit-scrollbar {
  width: 8px;
}
article#alert div#alertUserDetails::-webkit-scrollbar-track, article#alert div#confirmUserDetails::-webkit-scrollbar-track, article#confirmDialog div#alertUserDetails::-webkit-scrollbar-track, article#confirmDialog div#confirmUserDetails::-webkit-scrollbar-track {
  background: rgb(233, 229, 220);
}
article#alert div#alertUserDetails::-webkit-scrollbar-thumb, article#alert div#confirmUserDetails::-webkit-scrollbar-thumb, article#confirmDialog div#alertUserDetails::-webkit-scrollbar-thumb, article#confirmDialog div#confirmUserDetails::-webkit-scrollbar-thumb {
  background: rgb(3, 4, 9);
}
article#alert div#alertUserDetails::-webkit-scrollbar-thumb:hover, article#alert div#confirmUserDetails::-webkit-scrollbar-thumb:hover, article#confirmDialog div#alertUserDetails::-webkit-scrollbar-thumb:hover, article#confirmDialog div#confirmUserDetails::-webkit-scrollbar-thumb:hover {
  background: rgb(122, 68, 26);
}
article#alert div.buttonBar, article#confirmDialog div.buttonBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
article#alert div.buttonBar button, article#confirmDialog div.buttonBar button {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: rgb(3, 4, 9) solid 3px;
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  width: 40%;
  box-sizing: border-box;
}
article#alert div.buttonBar button:hover, article#confirmDialog div.buttonBar button:hover {
  background-color: rgb(3, 4, 9);
  color: rgb(233, 229, 220);
}

section#singnUpLogin {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  width: 220px;
  right: 0;
  color: rgb(175, 0, 0);
  box-sizing: border-box;
}
section#singnUpLogin div#btnFrame {
  cursor: pointer;
  background-color: rgb(175, 0, 0);
  display: flex;
  position: relative;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  border-radius: 20px;
  box-shadow: inset 0 0 15px #000000;
  box-sizing: border-box;
}
section#singnUpLogin div#btnFrame.on {
  background-color: rgb(0, 160, 0);
}
section#singnUpLogin div#btnFrame div#btnSlider {
  background-color: rgb(168, 140, 104);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  bottom: 0;
  border-radius: 20px;
  border: solid 2px rgb(0, 0, 0);
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
  text-shadow: 1px 1px 4px rgb(3, 4, 9);
  box-shadow: inset -2px -2px 5px rgb(0, 0, 0), inset 2px 2px 5px rgb(255, 255, 255);
  width: 60%;
  height: 100%;
  padding: 3px 0;
}
section#singnUpLogin div#btnFrame div#btnSlider.on {
  color: rgb(0, 70, 0);
  text-shadow: 1px 1px 4px rgb(0, 0, 0);
  transform: translateX(67%);
}
section#singnUpLogin button {
  margin-top: 10px;
  padding: 10px 0;
}

html {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 229, 220);
  color: rgb(3, 4, 9);
  font-family: "MyCustomFont";
  font-size: 1em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html body main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
html body main header h1 {
  font-size: 2em;
  margin-bottom: 10px;
  margin-bottom: 5px;
}
html body main article#signUpWindow {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  max-width: 600px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
html body main article#signUpWindow section#signUpInputs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(3, 4, 9);
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
}
html body main article#signUpWindow section#signUpInputs > div.SUF {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
html body main article#signUpWindow section#signUpInputs > div.SUF.right input {
  border-color: green;
}
html body main article#signUpWindow section#signUpInputs > div.SUF.right::after {
  background-color: green;
}
html body main article#signUpWindow section#signUpInputs > div.SUF.wrong input {
  border-color: red;
}
html body main article#signUpWindow section#signUpInputs > div.SUF.wrong::after {
  background-color: red;
}
html body main article#signUpWindow section#signUpInputs > div.SUF::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  top: 1em;
  right: 0px;
}
html body main article#signUpWindow section#signUpInputs > div.SUF label {
  display: block;
  width: 100%;
  font-size: 1.2em;
  text-align: center;
}
html body main article#signUpWindow section#signUpInputs > div.SUF input {
  width: 100%;
  background-color: inherit;
  position: relative;
  color: rgb(122, 68, 26);
  font-family: inherit;
  font-size: 1.2em;
  text-align: center;
  border: none;
  outline: none;
  background: none;
  border-bottom: dashed 2px rgb(3, 4, 9);
  transition: inherit;
}
html body main article#signUpWindow section#signUpInputs > div.SUF input::after {
  content: "x";
  background-color: violet;
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
html body main article#signUpWindow section#signUpInputs > div.SUF .warning {
  display: block;
  color: red;
  font-size: 0.7em;
  margin: 0;
  text-align: center;
}
html body main article#signUpWindow section#signUpInputs.on {
  color: rgb(190, 190, 190);
  border-color: rgb(190, 190, 190);
}
html body main article#signUpWindow section#signUpInputs.on input {
  border-color: rgb(190, 190, 190);
}
html body main article#signUpWindow section#signUpButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
}
html body main article#signUpWindow section#signUpButtons button {
  background-color: transparent;
  width: 49.7%;
  color: rgb(3, 4, 9);
  font-size: 1.2em;
  font-family: inherit;
  padding: 10px 15px;
  border: 2px dashed rgb(3, 4, 9);
  border-radius: 15px;
}
@media (orientation: portrait) {
  html body main article#signUpWindow section#signUpButtons button {
    border: rgb(3, 4, 9) solid 3px;
  }
}
html body main article#signUpWindow section#signUpButtons button:hover {
  background-color: rgb(3, 4, 9);
  color: rgb(233, 229, 220);
}
html body main article#signUpWindow section#signUpButtons button.loading {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    background-color: rgb(233, 229, 220);
    color: rgb(3, 4, 9);
  }
  50% {
    background-color: rgb(3, 4, 9);
    color: rgb(233, 229, 220);
  }
  100% {
    background-color: rgb(233, 229, 220);
    color: rgb(3, 4, 9);
  }
}/*# sourceMappingURL=signUpBright.css.map */