button {
  cursor: pointer;
}

.fontColor {
  color: green;
}

.fontColor2 {
  color: yellowgreen;
}

.fontColorRed {
  color: rgb(175, 0, 0);
}

@font-face {
  font-family: "MyCustomFont";
  src: url("../fonts/apple-ii-screen-typeface-font/AppleIiScreenTypeface-2aP3.ttf") format("truetype");
}
article#databaseControls {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(3, 4, 9);
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 200px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: green dotted 3px;
  border-top: none;
  box-sizing: border-box;
  color: green;
  font-size: 2.5em;
  text-align: center;
  font-family: "MyCustomFont";
}
@media (orientation: landscape) {
  article#databaseControls {
    height: 120px;
  }
}
@media (orientation: portrait) {
  article#databaseControls {
    height: 200px;
  }
}
article#databaseControls button {
  cursor: pointer;
  width: 25%;
  text-align: center;
  color: yellowgreen;
  font-family: inherit;
  font-size: 0.6em;
  background-color: transparent;
}
@media (orientation: landscape) {
  article#databaseControls button {
    font-size: 0.7em;
  }
}
@media (orientation: portrait) {
  article#databaseControls button {
    font-size: 1em;
  }
}
article#databaseControls button:hover {
  color: green;
}
article#databaseControls button.loading {
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    background-color: rgb(3, 4, 9);
    color: green;
  }
  50% {
    background-color: green;
    color: rgb(3, 4, 9);
  }
  100% {
    background-color: rgb(3, 4, 9);
    color: green;
  }
}
article#statusMonitor {
  background-color: rgb(3, 4, 9);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 200px;
  left: 0;
  top: 0;
  border: green dotted 3px;
  box-sizing: border-box;
  color: green;
  font-size: 2.5em;
  text-align: center;
  font-family: "MyCustomFont";
}
article#statusMonitor div#particularStatusMonitor {
  margin-left: 10px;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  font-size: 0.7em;
}
article#statusMonitor div#particularStatusMonitor div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
}
article#statusMonitor div#particularStatusMonitor div span {
  display: flex;
  width: 50%;
  box-sizing: border-box;
}
article#statusMonitor div#particularStatusMonitor div span:first-child {
  width: 40%;
}
article#statusMonitor div#particularStatusMonitor div span#adminName {
  text-transform: capitalize;
}
article#statusMonitor div#databaseVersionMonitor {
  position: relative;
  width: 10%;
  display: flex;
  box-sizing: border-box;
}
article#statusMonitor div#databaseVersionMonitor #DB_Title {
  font-size: 1em;
}
article#statusMonitor div#databaseVersionMonitor #DB_Version {
  font-size: 0.5em;
}
article#statusMonitor div#databaseVersionMonitor button {
  font-family: "MyCustomFont";
  position: absolute;
  display: block;
  color: green;
  background-color: rgb(3, 4, 9);
}
article#statusMonitor div#databaseVersionMonitor button#settings {
  cursor: pointer;
  background-image: url("../images/sun-2-svgrepo-com.svg");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
  margin: 5px;
  right: 0;
  bottom: 0;
}
article#statusMonitor div#databaseVersionMonitor button#settings:hover {
  opacity: 0.5;
}
article#statusMonitor div#databaseVersionMonitor button#settings.dark {
  background-image: url("../images/moon-stars-svgrepo-com.svg");
}
article#statusMonitor div#databaseVersionMonitor button#logout {
  cursor: pointer;
  right: 0;
  top: 0;
  width: 200px;
  padding: 2px 0;
  font-size: 0.8em;
  border: green dotted 3px;
  border-right: none;
  border-top: none;
  border-radius: 0 0 0 20px;
}
article#statusMonitor div#databaseVersionMonitor button#logout:hover {
  transform: translate(-2px, 2px);
  background-color: green;
  color: rgb(3, 4, 9);
  transition: all 0.2s ease-in-out;
}
article#statusMonitor section#onOfLine {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  right: 0;
  top: 0;
  border-left: green dotted 3px;
  color: rgb(175, 0, 0);
  box-sizing: border-box;
}
article#statusMonitor section#onOfLine div#btnFrame {
  background-color: rgb(175, 0, 0);
  display: flex;
  position: relative;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  border-radius: 20px;
  box-shadow: inset 0 0 15px #000000;
}
article#statusMonitor section#onOfLine div#btnFrame.on {
  background-color: rgb(0, 160, 0);
}
article#statusMonitor section#onOfLine div#btnFrame div#btnSlider {
  background-color: rgb(143, 141, 138);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  bottom: 0;
  border-radius: 20px;
  border: solid 2px rgb(0, 0, 0);
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
  text-shadow: 1px 1px 4px green;
  box-shadow: inset -2px -2px 5px rgb(0, 0, 0), inset 2px 2px 5px rgb(255, 255, 255);
  width: 60%;
  height: 100%;
}
article#statusMonitor section#onOfLine div#btnFrame div#btnSlider.on {
  color: green;
  text-shadow: 1px 1px 4px rgb(0, 0, 0);
  transform: translateX(65%);
}
article#statusMonitor section#onOfLine div#onlineStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  position: relative;
  color: rgb(175, 0, 0);
  box-sizing: border-box;
  text-shadow: 1px 1px 4px rgba(200, 0, 0, 0.5);
}
article#statusMonitor section#onOfLine div#onlineStatus.on {
  color: green;
  text-shadow: 1px 1px 4px rgba(98, 70, 30, 0.5);
}

article#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  width: 50%;
  height: 100px;
  left: 0;
  top: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
}
article#buttons button {
  cursor: pointer;
  font-family: "MyCustomFont";
  width: 200px;
  font-size: 1.8em;
  background-color: rgb(181, 181, 181);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  bottom: 0;
  border-radius: 20px;
  border: solid 2px rgb(110, 110, 110);
  box-sizing: border-box;
  box-shadow: inset -2px -2px 5px #000000, inset 2px 2px 5px #acacac;
}
article#buttons button:active {
  transform: translate(2px, 2px);
}
article#buttons button:hover {
  transform: translate(1px, 1px);
}
article#buttons button.loading {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    background-color: rgb(3, 4, 9);
    color: green;
  }
  50% {
    background-color: green;
    color: rgb(3, 4, 9);
  }
  100% {
    background-color: rgb(3, 4, 9);
    color: green;
  }
}
article#videoPreview {
  display: none;
  position: relative;
  justify-content: center;
  width: 100%;
}
article#videoPreview > div {
  position: relative;
  background-color: yellow;
}
@media (orientation: landscape) {
  article#videoPreview > div {
    width: 90%;
    height: auto;
  }
}
@media (orientation: portrait) {
  article#videoPreview > div {
    width: 90%;
    height: auto;
  }
}
article#videoPreview > div .video-container {
  transform: scaleX(1);
  transform-origin: center;
}
article#videoPreview > div .video-container video#preview {
  width: 100%;
}
article#videoPreview > div button#stop {
  background-color: transparent;
  color: red;
  font-size: 2em;
  display: flex;
  padding: 10px 5px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}
@media (orientation: landscape) {
  article#videoPreview > div button#stop {
    font-size: 2em;
  }
}
@media (orientation: portrait) {
  article#videoPreview > div button#stop {
    font-size: 3em;
  }
}
article#videoPreview > div .camerasBar {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3;
}
article#videoPreview > div .camerasBar button {
  background-color: transparent;
  color: red;
  font-size: 2em;
  padding: 10px 5px;
}
@media (orientation: landscape) {
  article#videoPreview > div .camerasBar button {
    font-size: 2em;
  }
}
@media (orientation: portrait) {
  article#videoPreview > div .camerasBar button {
    font-size: 3em;
  }
}

article#database {
  background-color: rgb(3, 4, 9);
  color: green;
  font-family: "MyCustomFont";
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 10;
}
article#database div#sortBy {
  font-size: 2em;
}
article#database div#sortingButtonBar button {
  padding: 0;
}
article#database div#sortingButtonBar button.marked {
  color: rgb(3, 4, 9);
  background-color: green;
  border-color: rgb(3, 4, 9);
}
article#database div#fetchedData {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 26px;
  border: green dotted 3px;
  border-bottom: none;
  border-top: none;
  box-sizing: border-box;
  position: relative;
}
article#database div#fetchedData::-webkit-scrollbar {
  width: 25px;
}
article#database div#fetchedData::-webkit-scrollbar-track {
  background: rgb(3, 4, 9);
}
article#database div#fetchedData::-webkit-scrollbar-thumb {
  background: green;
}
article#database div#fetchedData::-webkit-scrollbar-thumb:hover {
  background: yellowgreen;
}
article#database div#fetchedData p {
  font-size: 40px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
article#database div#fetchedData p.marked {
  color: rgb(3, 4, 9);
  background-color: yellowgreen;
}
article#database div#fetchedData p span:nth-child(2) {
  margin-right: 12px;
}
article#database div.buttonBar {
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
}
article#database div.buttonBar button {
  background-color: inherit;
  width: 100%;
  color: inherit;
  font-family: inherit;
  padding: 18px 0;
  border: green dotted 3px;
  border-right: none;
}
@media (orientation: landscape) {
  article#database div.buttonBar button {
    font-size: 2em;
  }
}
@media (orientation: portrait) {
  article#database div.buttonBar button {
    font-size: 4em;
  }
}
article#database div.buttonBar button#sendQRs {
  padding: 5px 0;
}
article#database div.buttonBar button:last-child {
  border-right: green dotted 3px;
}
article#database div.buttonBar button.disabled {
  color: grey;
  cursor: not-allowed;
}
article#database div.buttonBar button#unselectAll {
  background-color: green;
  color: rgb(3, 4, 9);
  border-color: rgb(3, 4, 9);
}
article#database div.buttonBar button.loading {
  animation: blink 0.6s infinite;
}

@keyframes blink {
  0% {
    background-color: rgb(3, 4, 9);
    color: green;
  }
  50% {
    background-color: green;
    color: rgb(3, 4, 9);
  }
  100% {
    background-color: rgb(3, 4, 9);
    color: green;
  }
}
section#addUser {
  background-color: rgb(3, 4, 9);
  color: green;
  font-family: "MyCustomFont";
  font-size: 4em;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 11;
}
@media (orientation: landscape) {
  section#addUser {
    font-size: 2em;
  }
}
section#addUser form {
  width: 100%;
  height: 100%;
  padding: 26px;
  border: green dotted 3px;
  border-bottom: none;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
section#addUser form::-webkit-scrollbar {
  width: 25px;
}
section#addUser form::-webkit-scrollbar-track {
  background: rgb(3, 4, 9);
}
section#addUser form::-webkit-scrollbar-thumb {
  background: green;
}
section#addUser form::-webkit-scrollbar-thumb:hover {
  background: yellowgreen;
}
section#addUser form #DBid {
  display: block;
  position: relative;
  z-index: 40;
  padding: 0;
  margin: 0;
  text-align: right;
}
section#addUser form label {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: left;
  padding-bottom: 10px;
  box-sizing: border-box;
  color: green;
  border-bottom: green dotted 3px;
}
@media (orientation: landscape) {
  section#addUser form label {
    flex-direction: row;
  }
}
@media (orientation: portrait) {
  section#addUser form label {
    flex-direction: column;
  }
}
section#addUser form label input {
  background-color: inherit;
  color: yellowgreen;
  flex-grow: 1;
  font-size: 1.1em;
  outline: none;
  border: none;
  margin-top: 10px;
  margin-left: 20px;
  box-sizing: border-box;
}
section#addUser form label input::-webkit-calendar-picker-indicator {
  filter: invert(0.7);
}
@media (orientation: landscape) {
  section#addUser form label input {
    width: 60%;
  }
}
@media (orientation: portrait) {
  section#addUser form label input {
    width: 100%;
  }
}
section#addUser form label input::-moz-placeholder {
  color: yellowgreen;
  font-family: inherit;
}
section#addUser form label input::placeholder {
  color: yellowgreen;
  font-family: inherit;
}
section#addUser form label input:valid, section#addUser form label input:invalid {
  color: yellowgreen;
  font-family: inherit;
  background-color: inherit;
}
section#addUser form label input::-moz-selection {
  background-color: green;
  color: rgb(3, 4, 9);
}
section#addUser form label input::selection {
  background-color: green;
  color: rgb(3, 4, 9);
}
section#addUser form label input:-webkit-autofill {
  background-color: rgb(3, 4, 9);
  color: inherit !important;
}
section#addUser div.buttonBar {
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
}
@media (orientation: portrait) {
  section#addUser div.buttonBar {
    height: 240px;
  }
}
section#addUser div.buttonBar button {
  background-color: inherit;
  width: 100%;
  color: inherit;
  font-family: inherit;
  padding: 18px 0;
  border: green dotted 3px;
  border-right: none;
}
@media (orientation: landscape) {
  section#addUser div.buttonBar button {
    font-size: 1em;
  }
}
@media (orientation: portrait) {
  section#addUser div.buttonBar button {
    font-size: 1em;
  }
}
section#addUser div.buttonBar button:last-child {
  border-right: green dotted 3px;
}
section#addUser div.buttonBar button#deleteUser {
  color: red;
}

article#alert, article#confirmDialog {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgb(3, 4, 9);
  color: green;
  font-family: "MyCustomFont";
  font-size: 2em;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
article#alert #alertTitle, article#confirmDialog #alertTitle {
  margin: 10px;
  margin-top: 20px;
}
article#alert div#confirmText, article#alert div#alertMessage, article#alert div#alertInstructions, article#confirmDialog div#confirmText, article#confirmDialog div#alertMessage, article#confirmDialog div#alertInstructions {
  width: 80%;
  text-align: center;
}
article#alert div#alertUserDetails, article#alert div#confirmUserDetails, article#confirmDialog div#alertUserDetails, article#confirmDialog div#confirmUserDetails {
  display: flex;
  max-height: 50%;
  width: 80%;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  position: relative;
  color: yellowgreen;
  overflow-y: scroll;
  font-size: 0.8em;
}
article#alert div#alertUserDetails::-webkit-scrollbar, article#alert div#confirmUserDetails::-webkit-scrollbar, article#confirmDialog div#alertUserDetails::-webkit-scrollbar, article#confirmDialog div#confirmUserDetails::-webkit-scrollbar {
  width: 8px;
}
article#alert div#alertUserDetails::-webkit-scrollbar-track, article#alert div#confirmUserDetails::-webkit-scrollbar-track, article#confirmDialog div#alertUserDetails::-webkit-scrollbar-track, article#confirmDialog div#confirmUserDetails::-webkit-scrollbar-track {
  background: rgb(3, 4, 9);
}
article#alert div#alertUserDetails::-webkit-scrollbar-thumb, article#alert div#confirmUserDetails::-webkit-scrollbar-thumb, article#confirmDialog div#alertUserDetails::-webkit-scrollbar-thumb, article#confirmDialog div#confirmUserDetails::-webkit-scrollbar-thumb {
  background: green;
}
article#alert div#alertUserDetails::-webkit-scrollbar-thumb:hover, article#alert div#confirmUserDetails::-webkit-scrollbar-thumb:hover, article#confirmDialog div#alertUserDetails::-webkit-scrollbar-thumb:hover, article#confirmDialog div#confirmUserDetails::-webkit-scrollbar-thumb:hover {
  background: yellowgreen;
}
article#alert div.buttonBar, article#confirmDialog div.buttonBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
article#alert div.buttonBar button, article#confirmDialog div.buttonBar button {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: green dotted 3px;
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  width: 40%;
  box-sizing: border-box;
}
article#alert div.buttonBar button:hover, article#confirmDialog div.buttonBar button:hover {
  background-color: green;
  color: rgb(3, 4, 9);
}

html, body {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: red;
  box-sizing: border-box;
}
html main, body main {
  position: absolute;
  display: flex;
  background-color: rgb(14, 23, 11);
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=styleDark.css.map */